body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:center;
}

#field{
    display: flex;
    flex-wrap: wrap;
}

@media all and (orientation:landscape) {
    #field{
        width: 100vh;
    }

    #main{
        flex-direction: row;
    }
}

@media all and (orientation:portrait) {
    #field{
        height: 100vw;
    }

    #main{
        flex-direction: column;
    }
}

.tile {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.tile-2 {background-color: #d8ecf5;}
.tile-4 {background-color: #bde0f1;}
.tile-8 {background-color: #a8ddf5;}
.tile-16 {background-color: #a8baf5;}
.tile-32 {background-color: #93aaf5;}
.tile-64 {background-color: #80a3fd;}
.tile-128 {background-color: #d7caf3;}
.tile-256 {background-color: #ccb8f6;}
.tile-512 {background-color: #bb9ff8;}
.tile-1024 {background-color: #eccdb5;}
.tile-2048 {background-color: #f0bfba;}
.tile-0 {background-color: #d3d7d6;}
